/* the styles for the elements */

* {
	margin: 0;
	padding: 0;
}

h1, article {
	margin: 0;
	padding: 0;
}

html {
	background: url("../images/pexels-cottonbro-2925305.jpg");
	/* background-color: rgb(236, 232, 232); */
	background-size: cover;
	background-position: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 1100px;
	margin: 0 auto;
	border: 2.5px solid rgb(24, 2, 2);
	background-color: #faf6e1;
}

/* the styles for the header */

header {
	padding: 1em 0 1em 0;
	border-bottom: 3px solid #931420;
	background-image: -moz-linear-gradient( 30deg, #73f684 0%, #e9e1d8 30%, rgb(165, 230, 173) 50%, #cbd89e 80%, #dabb93 100%);
	background-image: -webkit-linear-gradient( 30deg, #73f684 0%, #e9e1d8 30%, rgb(165, 230, 173) 50%, #cbd89e 80%, #dabb93 100%);
	background-image: -o-linear-gradient( 30deg, #85d18b 0%, #fff9cc 30%, hsl(53, 100%, 90%), #fff9cc 80%, #85d18b 100%);
	background-image: linear-gradient( 30deg, #a9dbad 0%, #fff9cc 30%, hsl(125, 71%, 90%), #fff9cc 80%, #9bcea0 100%);
}

header h2 {
	margin: 0 0 0.3em 13.5em;
	font-size: 220%;
	color: #800000;
}

header h3 {
	margin-left: 23.5em;
	font-size: 130%;
}

header #img1 {
	width: 83px;
	height: 83px;
	float: left;
	margin-left: 25.5em;
}

header #img2 {
	float: right;
}

/* The styles for the operation of the 3-tier navigation menu */

#nav_menu {
	clear: left;
}

#nav_menu ul {
	list-style: none;
	position: relative;
}

#nav_menu ul li {
	text-align: center;
	float: left;
	width: 366.6px;
}

#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

#nav_menu ul ul ul{
	display: none;
	position: absolute;
	left: 100%;
	top: 50%;
}

#nav_menu ul ul ul li{
	width: 150px;
}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li:hover>ul {
	display: block;
}

#nav_menu>ul::after {
	content: "";
	clear: both;
	display: block;
}

#nav_menu ul li a {
	text-align: center;
	display: block;
	padding: .7em 0;
	text-decoration: none;
	background-color: black;
	color: #b1fab8;
}

#nav_menu ul li a.current {
	color: rgb(252, 208, 128);
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: rgb(165, 252, 207);
	color: black;
	font-weight: bold;
	font-style: italic;
}

/* the styles for the aside */

aside {
	width: 170px;
	margin-left: 0.5em;
}

aside h4 {
	margin-left: .8em;
	margin-top: 0.5em;
	color: rgb(35, 39, 35);
}

aside figure {
	width: 130px;
	padding: 5px 0 8px 8px;
	margin: 1.9em .5em .2em .5em;
	border: 1.5px solid rgb(166, 184, 172);
	border-radius: 4px;
}

aside figure:hover, aside figure:focus {
	box-shadow: 0 0 1px 1.7px rgb(0, 0, 0);
}

aside figure img {
	padding-left: 1.8em;
	width: 65px;
	height: 55px;
}

aside p {
	margin-right: 1.3em;
	margin-left: .5em;
	border: 1.5px solid black;
	background-color: #9bcea0;
	color: #000000;
	padding: 1px;
	text-align: center;
	border-radius: 4px;
}

aside figure a {
	text-decoration: none;
}

/* the styles for the main content */

main {
	float: right;
	width: 890px;
}

/* the styles for the article */

article{
	width: 610px;
	border: 2px solid rgb(29, 40, 56);
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 10px;
	background-color: rgb(172, 216, 171);
}

article form label {
	margin-left: 7px;
}

article form input {
	width: 15em;
	margin-bottom: 8px;
	margin-top: 7px;
}

#list{
	margin-top: 10px;
}

#email{
	margin-left: 32px;
	margin-bottom: 15px;
}

#textarea{
	margin-left: 30px;
	margin-top: 5px;
}

article form button{
	background-color: #c5e4c7;
	padding: 3px;
	border: 1px solid black;
    border-radius: 3px ;
	width: 120px;
	margin-left: 100px;
	color: black;
	margin-bottom: 15px;
	margin-top: 15px;
}

article form select{
	padding: .1em;
	border-radius: 3px;
}

article form option{
	padding: 5px;
}

article form button:hover, article form button:focus{
	background-color: black;
	color: white;
} 
/* the styles for the section */

section {
	float: right;
	width: 215px;
	margin-right: 1em;
}

#first{
	margin-top: 10px;
}

section legend{
	font-size: 20px;
	margin-top: 10px;
}

section input{
	margin: 5px;
}

section fieldset{
	border: 2px solid  rgb(29, 40, 56);
	background-color: rgb(172, 216, 171);
	border-radius: 4px;
}

section button{
	background-color: #b7dab9;
	padding: 3px;
	border: 1px solid black;
    border-radius: 3px ;
	width: 90px;
	color: black;
	margin-top: 15px;
	margin-left: 60px;
}

section button:hover, section button:focus{
	background-color: black;
	color: white;
} 

#first{
	margin-top: 10px;
}
#second{
	margin-top: 30px;
}

/* the styles for the footer */

footer {
	background-color: rgb(0, 0, 0);
	clear: both;
}

footer p {
	text-align: center;
	color: #9bcea0;
	padding: .7em 0;
}